footer{
  border-top: solid 1.5px black;
}

.spacing{
  margin-top: 10rem;
}

.container-footer
{
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 8rem;
  padding-bottom: 8rem;
}

.footer-logo
{
  display: block;
  width: 4.2rem;
}

.container-socials
{
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: solid 1.5px black;
  height: 3rem;
  padding-bottom: .2rem;
  
  margin-inline: auto;
  width: min(95%,110rem);
}

.social
{
  color: black;
  font-size: 1.1rem;
  width: 100%;

  display: flex;
}

.social:hover{
  color: #FFB8D4;
  text-decoration: underline;
}

.left{
  justify-content: left;
}

.middle{
  justify-content: center;
}

.right{
  justify-content: right;
}