html, body, div,
span, iframe, p,
h1, h2, h3, h4, h5, h6, h7, h8,
a, img, ol, ul, li,
table, menu, nav, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
  background-color: #EBEEEF;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}


p{
  font-size: 1.2rem;
  line-height: 2rem;
}

.p-seperation{
  margin-bottom: 2rem;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  all: unset;
  cursor: pointer;
}

button{
  cursor: pointer;
}

h1{
  font-family: 'Lora', serif;
  font-weight: 900;
  font-size: 2rem;
  margin-top: -.2rem;
  margin-right: 3rem;
  line-height: 1.9rem;
  white-space: nowrap;
}

h2{
  font-size: 1rem;
  line-height: 1.2rem;
}

h3{
  font-family: 'Lora', serif;
  font-size: 6rem;
  line-height: 6rem;
}

h4{
  font-size: 1.5rem;
  text-align: right;
  line-height: 2rem;
  margin-bottom: -15px;
}

h5{
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

h6{
  font-size: 1.2rem;
  line-height: 2rem;
}

h7{
  font-family: 'Lora', serif;
  font-size: 4rem;
  color: #FFB8D4;
}