.header-bg{
  background-image: url(../img/header/header-bg.png);
  background-repeat: repeat-y;
  background-size: 100%;
  border-bottom: solid 1.5px black;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  box-shadow: 0 -5px 35px rgba(0, 0, 0, 0.2);
}

.header-container{
  display: flex;
  align-items: center;
  margin: auto;
  width: min(90%,110rem);
  height: 4rem;
}

.logo-container{
  display: flex;
  align-items: center;
  flex: 3;
  background-color: #FFB8D4;
  height: 100%;
  border-right: solid 1.5px black;
}

.logo-svg{
  display: block;
  margin-right: 3rem;
  height: 2.3rem;
}

.nav-container{
  display: flex;
  justify-content: end;
  flex: 15;
  height: 100%;
  background-color: #EBEEEF;
}

.nav-links{
  display: flex;
  justify-content: end;
  gap: 5rem;
  align-items: center;
  width: min(84%,30rem);
  font-size: 1.1rem;
}

.nav-links > li:hover{
  color: #FFB8D4;
  text-decoration: underline;
}


/* BURGER ICON */

.burger
{
  display: none;
  cursor: pointer;
  z-index: 9999;
}

.burger div
{
  width: 40px;
  height: 2px;
  background-color: #000000;
  margin: 8px;
  transition: all 0.3s ease;
}

.toggle .line1{
  transform: rotate(-45deg) translate(-4px,10px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-4px,-10px);
}

.nav-links-mobile{
  display: none;
}

.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}


@media (max-width: 670px){

  /* WEB MENU */

  .logo-container{
    flex: 3;
  }

  .nav-container{
    flex: 15;
  }

  .nav-links{
    display: none;
  }



  /* MOBILE MENU */

  .burger
  {
    display: block;
    cursor: pointer;
  }

  body
  {
    overflow-x: hidden;
  }

  .nav-links-mobile
  {
    display: flex;
    z-index: 9000;

    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;

    font-family: 'Lora', serif;
    color: #000000;
    font-size: 3.3rem;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: #EBEEEF;

    transform: translatex(100%);
    transition: transform 0.3s ease-out;
  }

  .nav-active
  {
    transform: translatex(0%);
  }
 
}