.container-nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 3rem;

  margin: auto;
  width: min(90%,90rem);
}


/* RIGHT NAVIGATION LINKS */

.nav-links
{
  display: flex;
  align-items: center;

  gap: 4.5rem;
  color: #543772;
  -webkit-text-fill-color: #543772;
  font-weight: 700;
  font-size: 1.3rem;
}

.home-link-mobile
{
  display: none;
}


/* LOGO */

.logo
{
  height: 4.4rem;
  display: block;
}

.logo-mobile
{
  display: none;
}

/* BOTON CV */

.button-full-cv
{
  display: flex;
  align-items: center;

  background-color: #543772;
  padding: 1.1rem 1.3rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  color: white;
  -webkit-text-fill-color: white;
  text-align: left;
}

.icon-arrow-header
{
  width: 1.3rem;
  padding-left: .9rem;
}

/* BURGER MENU */

.burger
{
  display: none;
  cursor: pointer;
}

.burger div
{
  width: 40px;
  height: 4px;
  background-color: #543772;
  margin: 7px;
  transition: all 0.3s ease;
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,10px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-10px);
}




@media (hover: hover) and (pointer: fine)
{
  .button-full-cv
  {
    transition: all .2s ease-in-out;
  }

  /* HOVER */

  .button-full-cv:hover
  {
    transform: scale(1.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  }
}



@media (max-width: 870px)
{

  body
  {
    overflow-x: hidden;
  }


  /* MOBILE LINKS */

  .nav-links
  {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 4.2rem 3rem;
    gap: 0rem;
    z-index: 1000;

    font-size: 1.8rem;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: #FFCCE0;

    transform: translatex(100%);
    transition: transform 0.3s ease-out;
  }

  .nav-links li:nth-child(2)
  {
    padding-top: 5rem;
  }

  .nav-links li:nth-child(3)
  {
    padding-top: 5rem;
  }

  .nav-links li:nth-child(4)
  {
    padding-top: 5rem;
  }

  .home-link-mobile
  {
    display: block;
  }


  /* BOTON CV */

  .button-full-cv
  {
    font-size: 1.6rem;
    padding: 1.2rem 1.5rem;
  }

  .icon-arrow-header
  {
    width: 1.7rem;
  }


  /* BURGER MENU */

  .burger
  {
    display: block;
    z-index: 9999;
  }

  .nav-active
  {
    transform: translatex(0%);
  }
}

@media (max-width: 480px) 
{
  .logo
  {
    display: none;
  }

  .logo-mobile
  {
    height: 3.8rem;
    display: block;
  }
}


.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}


