.section-intro
{
  border-bottom: solid #FF99C1 1px;
}

.container-text
{
  padding: 10rem 0rem;
  
  margin: auto;
  width: min(90%,50rem);
}

.p-hello
{
  color: #FFC26B;
  -webkit-text-fill-color: #FFC26B;
  font-size: 4rem;
  font-family: 'Lora', serif;
  margin-bottom: 2rem;
}

.p-im
{
  font-size: 2.8rem;
  line-height: 4rem;
  font-family: 'Lora', serif;
  color: #FFC26B;
  -webkit-text-fill-color: #FFC26B;
  font-weight: 500;
}

.p-intro
{
  margin-top: 2.8rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

@media (max-width: 480px) 
{
  .container-text
  {
    padding: 7rem 0rem;
  }

  .p-im
  {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}