.home-banner__bani-designer{
  background-image:
    url("../img/icons/texture__pink-top.png"),
    linear-gradient(180deg, rgba(255, 153, 196, 0.10) 0%, rgba(241, 242, 244, 0.10) 100%);

  background-repeat:
    repeat-x,
    no-repeat;

  background-position:
    left top,
    center;

  padding: 80px 0;
}

.home-banner__inner-container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  column-gap: 20px;
}

.home-banner__text{
  grid-column: span 6;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-banner__img-container{
  display: flex;
  grid-column: span 6;
  justify-content: flex-end;
  padding-right: 48px;
}


@media screen and (max-width: 600px) {

.home-banner__inner-container{
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.home-banner__img-container{
  justify-content: center;
  padding-right: 0px;
}

.home-banner__img{
  max-width: 250px;
  width: 100%;
}

}