.section-banner-quick-look
{
  background-color:#FFCCE0;
  background-image: url(../img/bg-banner-ql-flower.svg), url(../img/bg-banner-ql.jpg);
  background-position: right 50% bottom 7rem, bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: 7rem, auto;
}

.container-text-ql
{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 10rem;
 
  margin: auto;
  width: min(90%,90rem);
}

.text-question
{
  color: #543772;
  -webkit-text-fill-color: #543772;
  font-size: 3.6rem;
  font-family: 'Lora', serif;
  margin-bottom: 2rem;
  font-weight: 600;

  text-align: center;
}

.banner-ql-img
{
  display: block;
  width: 1000px;
  margin-top: 4rem;
}

.banner-ql-img-mobile
{
  display: none;
}

@media (max-width: 960px) 
{
  .container-text-ql
  {
    padding-top: 9rem;
  }
  .section-banner-quick-look
  {
    background-image: url(../img/bg-banner-ql-flower.svg), url(../img/bg-banner-ql.jpg);
    background-position: right 50% bottom 3.8rem, bottom;
    background-repeat: repeat-x, repeat-x;
    background-size: 6.4rem, auto;
  }
  .banner-ql-img
  {
    display: block;
    width: 700px;
    margin-top: 5.5rem;
  }

  .text-question
  {
    font-size: 3.1rem;
  }
}

@media (max-width: 740px) 
{
  .section-banner-quick-look
  {
    background-image: url(../img/bg-banner-ql-flower.svg), url(../img/bg-banner-ql.jpg);
    background-position: right 50% bottom 7rem, bottom;
    background-repeat: repeat-x, repeat-x;
    background-size: 6.4rem, auto;
  }

  .banner-ql-img
  {
    display: none;
  }

  .banner-ql-img-mobile
  {
    display: block;
    width: 500px;
    margin-top: 3rem;
  }
}

@media (max-width: 540px) 
{
  .container-text-ql
  {
    padding-top: 7.2rem;
  }

  .section-banner-quick-look
  {
    background-image: url(../img/bg-banner-ql-flower.svg), url(../img/bg-banner-ql.jpg);
    background-position: right 50% bottom 5.6rem, bottom;
    background-repeat: repeat-x, repeat-x;
    background-size: 5rem, auto;
  }

  .banner-ql-img-mobile
  {
    display: block;
    width: 400px;
    margin-top: 4rem;
  }

  .text-question
  {
    font-size: 2.8rem;
  }
}

@media (max-width: 435px) 
{
  .container-text-ql
  {
    padding-top: 6.7rem;
  }

  .section-banner-quick-look
  {
    background-image: url(../img/bg-banner-ql-flower.svg), url(../img/bg-banner-ql.jpg);
    background-position: right 50% bottom 4.7rem, bottom;
    background-repeat: repeat-x, repeat-x;
    background-size: 6.5rem, auto;
  }

  .banner-ql-img-mobile
  {
    display: block;
    width: 340px;
    margin-top: 4rem;
  }

  .text-question
  {
    font-size: 2.5rem;
  }
}