.section-intro
{
  border-bottom: solid #FF99C1 1px;
}

.container-text
{

  padding: 10rem 0rem;
 
  margin: auto;
  width: min(90%,50rem);
}

.p-hello
{
  color: #FFC26B;
  font-size: 4rem;
  font-family: alice;
  margin-bottom: 2rem;
}

.p-im
{
  font-size: 3rem;
  line-height: 3.3rem;
  font-family: alice;
  color: #FFC26B;
}

.p-intro
{
  margin-top: 2.8rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

@media (max-width: 480px) 
{
  .container-text
  {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}