/* HOME WORK SECTION */ 

.home-section-work
{
  margin-top: 10rem;
  padding-bottom: 4.5rem;
}


/* OTHER PROJECTS GRID */ 

.grid-projects
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 5.5rem;
  
  margin-top: 4.5rem;
  margin-bottom: 8rem;

  margin-inline: auto;
  width: min(90%,90rem);
}

.grid-projects a{
  border-bottom: solid 1px #FF99C1;
  padding-bottom: 2rem;
}

.img-project-thumbnail
{
  max-width: 100%;
  display: block;
}

.title-featured-project
{
  margin-top: 1.3rem;
  margin-bottom: .6rem;
}

.container-more-projects h4,
.container-more-projects h3
{ 
  transition: all .3s ease-out;
}


/* HOVER COLOR TEXT OF PROJECTS */

.container-more-projects:hover h4,
.container-more-projects:hover h3
{ 
  color: #FFC26B;
}

.grid-projects a:hover {
  border-bottom: solid 3px #FFC26B;
  margin-bottom: -2px;
}


/* HOVER ZOOM IN THUMBNAIL*/

.container-zoom img
{
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.container-zoom:hover img
{
  transform: scale(1.08);
}

.mask
{
  overflow: hidden;
  border-radius: 20px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.mask:hover{
  transform: scale(1.06);
}

@media (max-width: 900px) {
  .grid-projects {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 5rem;
  }

  .grid-projects-mobile a:nth-child(3n)
  {
    display: none;
  }
}

@media (max-width: 640px) {
  .grid-projects
  {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
}



        



