.section-hero
{
  height: auto;
  background-image: url(../img/hero-bg2.svg);
  background-color: #FFC97D;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 10rem;
}

.container-hero-info
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-inline: auto;
  width: min(90%,90rem);

  margin-top: 8rem;
}

.list-flor
{
  width: 22px;
  margin-right: 1.3rem;
  margin-bottom: .4rem;
}

.list-hero-info
{
  font-size: 4rem;
  color: #FF80B1;
  line-height: 5.5rem;
  font-family: alice;
  font-weight: 700;
}

.accent-info
{
  color: #543772;
  margin-top: 1rem;
  font-family: inter, arial;
  font-size: 2.3rem;
}

.img-profile
{
  width: auto;
  display: block;
  margin-right: -1rem;
}

.img-profile-mobile
{
  display: none;
}

.accent-info-mobile
{
  display: none;
}

.list-hero-info-mobile
{
  display: none;
}




@media (max-width: 1280px) 
{
  
  .img-profile-mobile
  {
    display: block;
    height: auto;
  }

  .img-profile
  {
    display: none;
  }

}

@media (max-width: 1088px) 
{
  .list-flor
  {
    width: 18px;
    margin-right: 1rem;
    margin-bottom: .3rem;
  }

  .list-hero-info
  {
  font-size: 3rem;
  line-height: 4.3rem;
  }

  .accent-info
  {
  font-size: 2.2rem;
  }
}

@media (max-width: 950px) 
{
  .img-profile-mobile
  {
    width: auto;
    margin-bottom: 3rem;

    order: 1;
  }

  .img-profile
  {
    display: none;
  }

  .section-hero
  {
    background-image: url(../img/hero-bg-mobile.svg);
    background-position: top left;
    background-size: 12rem;
    background-repeat: no-repeat;
  }

  .container-hero-info 
  {
    flex-direction: column;
    align-items: center;

    margin-top: 3.5rem;
  }

  .list-hero-info
  {
    display: none;
  }

  .list-hero-info-mobile
  {
    display: block;
    order: 2;

    font-weight: 700;
    font-size: 3.2rem;
    color: #FF80B1;
    line-height: 4.8rem;
    text-align: center;
    font-family: alice;
  }

  .accent-info
  {
    margin-top: 4rem;
    line-height: 0%;
    color: #543772;
    font-size: 2.6rem;
  }
}

@media (max-width: 480px) 
{
  .img-profile-mobile
  {
    display: block;
    height: 350px;
  }

  .list-hero-info-mobile
  {
    font-weight: 700;
    font-size: 2.5rem;
    color: #FF80B1;
    line-height: 3.8rem;
    text-align: center;
  }

  .accent-info
  {
    display: none ;
  }

  .section-hero{
    padding-bottom: 6rem;
  }

  .img-profile-mobile
  {
    margin-bottom: 2rem;
  }

  .accent-info-mobile
  {
    display: block;
    margin-top: 2rem;
    font-size: 2.2rem;
    line-height: 2.5rem;
    color: #543772;
    font-family: inter, arial;
  }
}
