.project-content__main-container{
  display: flex;
  flex-direction: column;
  gap: 280px;
}

.project-content__grid-main{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  column-gap: 20px;
}

.project-content__section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 150px;
}

.project-content__text-column{
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.project-content__text-paragraphs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}

.project-content__list{
  list-style-position: inside;
  list-style-type: disc;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.project-content__headline-line-pink{
  height: 1px;
  width: 100%;
  background-color: #FF99C4;
  margin-bottom: 32px;
}

.project-content__grid-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 32px;
}
