/* GRID ROW */

.projects-cards-row-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* CARD TITLE */

.card-title{
  display: flex;
  align-items: center;
  height: 6.5rem;

  margin: auto;
  max-width: 90%;
}

.card-main-title{
  display: flex;
  align-items: center;
  border-right: solid 1.5px black;
  height: 100%;
}

.card-text-info{
  margin-left: 3rem;
}

.right-line{
  border-right: solid 1.5px black;
}

.lines-top-bottom{
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
}


/* NINJA */

.ninja-thumb{
  background-image: url(../img/thumbnails/ninja-thumb-bg.jpg);
}

.ninja-mockup-img{
  display: block;
  width: min(80%,50rem);
}

.ninja-mockup-img-mobile{
  display: none;
}

/* INDIES FEST */

.thumb-container-fest{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  overflow: hidden;
}

.fest-thumb{
  background-image: url(../img/thumbnails/fest-thumb-bg.jpg);
}

.fest-logo-img{
  display: block;
  width: min(63%,27rem);
}

.fest-sides{
  display: block;
  max-width: 100%;
}


/* PHI */

.card-thumb-phi{
  background-image: url(../img/thumbnails/phi-thumb-bg.jpg);
}

.card-thumb-phi-img{
  width: min(80%,42rem);
  border-radius: .6rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}


/* JRZ LIMPIO */

.jrz-limpio-thumb{
  background-image: url(../img/thumbnails/juarez-limpio-thumb-bg.jpg);
}


/* DESERT */

.desert-thumb{
  background-image: url(../img/thumbnails/desert-thumb-bg.jpg);
}

.desert-logo-img{
  display: block;
  width: min(50%,15rem);
  margin-bottom: -3rem;
}


/* GRID ROW */

@media (max-width: 1200px){

  .projects-cards-row-container{
    grid-template-columns: 1fr;
  }

  .right-line{
    border-right: solid 0px black;
  }
}


/* FEST */

@media (max-width: 900px){

  .fest-thumb{
    background-image: url(../img/thumbnails/fest-thumb-bg-mobile.jpg);
  }
}


/* NINJA */

@media (max-width: 700px){

  .ninja-mockup-img{
    display: none;
  }

  .ninja-mockup-img-mobile{
    display: block;
    width: min(85%,30rem);
  }
}


/* LINES */

@media (max-width: 370px){

  .card-main-title{
    border-right: solid 0px black;
  }
}


