.project-cover__main-container{
  padding-top: 120px;
}

.project-cover__inner-container{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.project-cover__info{
  display: flex;
  gap: 64px;
  padding-left: 32px;
  padding-bottom: 4px;
}

.project-cover__mobile{
  display: none;
}


.project-cover__height{
  height: 700px;
}


@media screen and (max-width: 767px) {

  .project-cover__info{

    gap: 20px;
    padding-left: 0px;
    padding-top: 20px;
    max-width: 400px;

  }

  .project-cover__inner-container{
    flex-direction: column;
    justify-content: left;
    align-items: start;
  }

  .project-cover__info{
    padding-left: 0px;
  }

}


@media screen and (max-width: 479px) {

  .project-cover__mobile{
    display: block;
  }

  .project-cover__height{
    height: 500px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .project-cover__img-border{
    border-radius: 0px !important;
  }

  .project-cover__info{

  flex-direction: column;

  }

.project-cover__main-container{
  padding-top: 80px;
}

}