.header{
  background-color:#FFCCE0;
  background-image: url(../img/bg-other-sections.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects
{
  margin-top: 12rem;
}

.titulo
{
  display: flex;
  justify-content: space-between;

  align-items: center;
  text-align: center;

  margin-top: 9rem;
  padding-bottom: 13rem;

  margin-inline: auto;
  width: min(90%,27rem);
}

.title-flower
{
  display: block;
  width: 60px;
}


@media (max-width: 640px) {
  .projects
  {
    margin-top: 5rem;
    margin-bottom: 0rem;
  }
}

@media (max-width: 480px)
{
  h2{
    font-size: 3.1rem;
  }

  .header{
    background-image: url(../img/bg-other-sections-mobile.svg);
    background-position: center 8.8rem;
    background-size: 16rem;
    background-repeat: no-repeat;
  }

  .title-flower
  {
    display: block;
    width: 50px;
  }
  
}






