/* SECTION PROJECT COVER */

.section-project-cover
{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 51rem;
}


.binmatter
{
  background-image: url("../img/projects/covers-desktop/binmatter-project-cover@2x.jpg");
}

.diario
{
  background-image: url("../img/projects/covers-desktop/diario-project-cover@2x.jpg");
}

.blum
{
  background-image: url("../img/projects/covers-desktop/blum-project-cover@2x.jpg");
}

.conhector
{
  background-image: url("../img/projects/covers-desktop/conhector-project-cover@2x.jpg");
}

.caf
{
  background-image: url("../img/projects/covers-desktop/caf-project-cover@2x.jpg");
}

.desert
{
  background-image: url("../img/projects/covers-desktop/desert-project-cover@2x.jpg");
}

.dioses
{
  background-image: url("../img/projects/covers-desktop/dioses-project-cover@2x.jpg");
}

.chita
{
  background-image: url("../img/projects/covers-desktop/chita-project-cover@2x.jpg");
}

.flight-ninja
{
  background-image: url("../img/projects/covers-desktop/filght-ninja-project-cover@2x.jpg");
}

.jam
{
  background-image: url("../img/projects/covers-desktop/jam-project-cover@2x.jpg");
}

.fest
{
  background-image: url("../img/projects/covers-desktop/fest-project-cover@2x.jpg");
}

.input
{
  background-image: url("../img/projects/covers-desktop/input-project-cover@2x.jpg");
}

.juarez-limpio
{
  background-image: url("../img/projects/covers-desktop/juarez-limpio-project-cover@2x.jpg");
}

.phi
{
  background-image: url("../img/projects/covers-desktop/phi-project-cover@2x.jpg");
}

.ruba
{
  background-image: url("../img/projects/covers-desktop/ruba-project-cover@2x.jpg");
}


/* SECTION INTRO */

.container-text
{
  margin: 10rem auto 10rem;
  width: min(90%,51rem);
}

h2
{
  margin-bottom: 4.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 3.5rem;
  line-height: 3.7rem;
}

.p-hello{
 
  font-size: 2.4rem;
  line-height: 3rem;
  font-family: 'Lora', serif;
  color: #FFC26B;
  -webkit-text-fill-color: #FFC26B;
  font-weight: 500;

  max-width: 40rem;
}

.p-intro{

  margin-top: 4rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

.ruba-list li
{
  margin-top: 2rem;
  line-height: 1.7rem;
  font-size: 1.1rem;
}


/* SECTION GRID */


.more-projects
{
  margin-bottom: 12rem;
}

.grid-project
{
  border-bottom: solid #FF99C1 1px;
  border-top: solid #FF99C1 1px;
  background-color: #FFF0DB;

  padding-top: 10rem;
  margin-bottom: 10rem;
}

.grid-project-imgs
{
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 12rem;

  margin-inline: auto;
  width: min(90%,90rem);
}

.grid-span-2
{
  grid-column: span 2;
}

.grid-img
{
  max-width: 100%;
  display: block;
  border-radius: 20px;
}

.mobile-imgs
{
  display: none;
}

.section-browse
{
  display: none;
}

.video
{
  overflow: hidden;
  border-radius: 20px;
}

.seperation-buttons
{
  margin-right: 1rem;
}




@media (max-width: 920px)
{
  .grid-img
  {
    border-radius: 10px;
  }

  .video
  {
    border-radius: 10px;
  }
}


@media (max-width: 800px)
{

  .grid-project-imgs
  {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .desert-order
  {
    order: 2;
  }

  .grid-span-2
  {
  grid-column: span 1;
  }

  .section-browse
  {
    display: block;
  }

  .more-projects
  {
    margin-bottom: 0rem;
  }

  .video
  {
    overflow: hidden;
    border-radius: 10px;
  }
}


@media (max-width: 600px) 
{

  .section-project-cover
  {
    background-position: center bottom;
    background-size: 600px;
    background-repeat: no-repeat;
    height: 39rem;
  }

  .binmatter
  {
    background-image: url("../img/projects/covers-mobile/binmatter-project-cover-mobile@2x.jpg");
  }

  .diario
  {
    background-image: url("../img/projects/covers-mobile/diario-project-cover-mobile@2x.jpg");
  }

  .blum
  {
    background-image: url("../img/projects/covers-mobile/blum-project-cover-mobile@2x.jpg");
  }

  .conhector
  {
    background-image: url("../img/projects/covers-mobile/conhector-project-cover-mobile@2x.jpg");
  }
  
  .caf
  {
    background-image: url("../img/projects/covers-mobile/caf-project-cover-mobile@2x.jpg");
  }
  
  .desert
  {
    background-image: url("../img/projects/covers-mobile/desert-project-cover-mobile@2x.jpg");
  }
  
  .dioses
  {
    background-image: url("../img/projects/covers-mobile/dioses-project-cover-mobile@2x.jpg");
  }
  
  .chita
  {
    background-image: url("../img/projects/covers-mobile/chita-project-cover-mobile@2x.jpg");
  }
  
  .flight-ninja
  {
    background-image: url("../img/projects/covers-mobile/filght-ninja-project-cover-mobile@2x.jpg");
  }
  
  .jam
  {
    background-image: url("../img/projects/covers-mobile/jam-project-cover-mobile@2x.jpg");
  }
  
  .fest
  {
    background-image: url("../img/projects/covers-mobile/fest-project-cover-mobile@2x.jpg");
  }
  
  .input
  {
    background-image: url("../img/projects/covers-mobile/input-project-cover-mobile@2x.jpg");
  }
  
  .juarez-limpio
  {
    background-image: url("../img/projects/covers-mobile/juarez-limpio-project-cover-mobile@2x.jpg");
  }
  
  .phi
  {
    background-image: url("../img/projects/covers-mobile/phi-project-cover-mobile@2x.jpg");
  }
  
  .ruba
  {
    background-image: url("../img/projects/covers-mobile/ruba-project-cover-mobile@2x.jpg");
  }

  .container-text
  {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .grid-project
  {
    padding-top: 6rem;
    margin-bottom: 5rem;
  }

  .grid-project-imgs
  {
    gap: 1rem;
    margin-bottom: 6rem;

    margin-inline: auto;
    width: min(100%,90rem);
  }

  .grid-img{
    border-radius: 0px;
  }

  .mobile-imgs
  {
    display: block;
  }

  .desktop-imgs
  {
    display: none;
  }

  .video
  {
    overflow: hidden;
    border-radius: 0px;
  }

  h2
  {
    font-size: 3rem;
  }

  .p-intro{
    font-size: 1.1rem;
    line-height: 1.7rem;
  }

  .p-hello{
    font-size: 2.1rem;
    line-height: 2.8rem;
  }
}
