.header{
  background-color:#FFCCE0;
  background-image: url(../img/bg-other-sections.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* MAIN TITULO */

.titulo
{
  display: flex;
  justify-content: space-between;

  align-items: center;
  text-align: center;

  margin-top: 9rem;
  padding-bottom: 13rem;

  margin-inline: auto;
  width: min(90%,32rem);
}

.title-flower
{
  display: block;
  width: 60px;
}

/* TITLES SECTIONS*/

h7
{
  color: #FFCCE0;
  font-size: 8rem;
  font-family: alice;
  line-height: 5rem;
}

.section-title,
.section-title-2
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 14em;
  margin-bottom: 5rem;
}

.section-title
{
  margin-inline: auto;
  width: min(90%,110rem);
}

.section-title-2
{
  margin-inline: auto;
  width: min(90%,70rem);
}


/* ROWS */

.row-3-imgs,
.row-3-imgs-cms
{
  display: flex;
  gap: 2rem;

  margin-inline: auto;
  width: min(90%,110rem);
}

.row-2-imgs
{
  display: flex;
  gap: 2rem;

  margin-inline: auto;
  width: min(90%,70rem);
}


/* COLUMN */

.column-imgs
{
  display: flex;
  flex-direction: column;
  gap: 4rem;

  margin-inline: auto;
  width: min(90%,70rem);
}


/* IMGS AND SPACING */

.video
{
  overflow: hidden;
  border-radius: 20px;
}

.row-spacing1,
.row-spacing2
{
  margin-top: 10rem;
}

.imgs-square,
.imgs-landscape
{
  width: 100%;
  display: block;
}

.flor
{
  height: 3.5rem;
  display: block;
  margin-bottom: -1.5rem;
}

.mask
{
  overflow: hidden;
  border-radius: 20px;
}

.website-mobile
{
  display: none;
}

.end-padding
{
  margin-bottom: 8.5rem;
}


@media (hover: hover) and (pointer: fine)
{
  /* HOVER ZOOM */

  .mask
  {
    overflow: hidden;
    border-radius: 20px;
    transform: scale(1);
    transition: 0.3s ease-in-out;
  }

  .mask:hover{
    transform: scale(1.05);
  }
}


@media (max-width: 1420px)
{

  .row-3-imgs
  {
   gap: .8rem;
   width: min(97%,90rem);
  }

  .row-3-imgs-cms
  {
    flex-direction: column;
    gap: 3rem;
  }

  .row-spacing1
  {
    margin-top: 3rem;
  }

  .row-spacing2
  {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  .column-imgs
  {
    gap: 3rem;
  }

  .section-title,
  .section-title-2
  {
    margin-top: 8em;
  }

  h7
  {
    font-size: 6rem;
  }

}

@media (max-width: 1050px)
{
  .hide
  {
    display: none;
  }

  .row-3-imgs,
  .row-2-imgs
  {
   gap: 1rem;
   width: min(97%,90rem);
  }

  .row-spacing2
  {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 1050px)
{
  .mask
  {
    overflow: hidden;
    border-radius: 10px;
  }
}


@media (max-width: 750px)
{
  .header{
    background-image: url(../img/bg-other-sections-mobile.svg);
    background-position: center 8.1rem;
    background-size: 18rem;
    background-repeat: no-repeat;
  }

  .hide{
    display: block;
  }

  .row-3-imgs,
  .row-3-imgs-cms,
  .row-2-imgs
  {
    flex-direction: column;
    gap: 2rem;
    width: min(90%,90rem);
  }

  .row-spacing1,
  .row-spacing2
  {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .column-imgs
  {
    gap: 2rem;
  }

  h7
  {
    font-size: 5rem;
    line-height: 4rem;
  }

  .section-title,
  .section-title-2
  {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .flor
  {
    height: 2.5em;
    display: block;
    margin-bottom: -.8rem;
  }
}

@media (max-width: 480px)
{
  .header{
    background-image: url(../img/bg-other-sections-mobile.svg);
    background-position: center 10.5rem;
    background-size: 13rem;
    background-repeat: no-repeat;
  }

  .title-flower
  {
    display: block;
    width: 50px;
  }

  h2{
    font-size: 3.1rem;
  }

  h7
  {
    font-size: 4rem;
    line-height: 3.2rem;
  }

  .row-3-imgs,
  .row-3-imgs-cms,
  .row-2-imgs,
  .column-imgs
  {
    gap: 1rem;
    width: min(100%,90rem);
  }

  .row-spacing1,
  .row-spacing2
  {
    margin-top: 1rem;
  }

  .mask
  {
    border-radius: 0px;
  }

  .video
  {
    overflow: hidden;
    border-radius: 0px;
  }

  .website-desktop
  {
    display: none;
  }

  .website-mobile
  {
    display: block;
  }
}

@media (max-width: 350px)
{
  .flor
  {
    display: none;
  }
}

@media (max-width: 392px)
{
  .header{
    background-image: url(../img/bg-other-sections-mobile.svg);
    background-position: center 12.2rem;
    background-size: 13rem;
    background-repeat: no-repeat;
  }
}









