/* SECTION PROJECT COVER */

.section-project-cover
{
  background-position: center;
  background-size: 1920px;
  background-repeat: no-repeat;
  height: 47rem;
}


.binmatter
{
  background-image: url(../img/projects/cover-desktop/binmatter-project-cover.jpg);
}

.diario
{
  background-image: url(../img/projects/cover-desktop/diario-project-cover.jpg);
}

.blum
{
  background-image: url(../img/projects/cover-desktop/blum-project-cover.jpg);
}

.conhector
{
  background-image: url(../img/projects/cover-desktop/conhector-project-cover.jpg);
}

.caf
{
  background-image: url(../img/projects/cover-desktop/caf-project-cover.jpg);
}

.desert
{
  background-image: url(../img/projects/cover-desktop/desert-project-cover.jpg);
}

.dioses
{
  background-image: url(../img/projects/cover-desktop/dioses-project-cover.jpg);
}



.more-projects
{
  margin-bottom: 12rem;
}

h2
{
  margin-bottom: 5rem;
  font-family: 'Inter', sans-serif;
  font-size: 3.5rem;
  line-height: 3.7rem;
}


/* SECTION INTRO */

.container-text
{
  margin: 10rem auto 10rem;
  width: min(90%,60rem);
}

.p-hello{
 
  font-size: 2rem;
  line-height: 2.7rem;
}

.p-intro{

  margin-top: 4rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

.ruba-list li
{
  margin-top: 2rem;
  line-height: 1.5rem;
  font-size: 1.1rem;
}


/* SECTION GRID */

.grid-project
{
  border-bottom: solid #FF99C1 1px;
  border-top: solid #FF99C1 1px;
  background-color: #FFF0DB;

  padding-top: 10rem;
  margin-bottom: 10rem;
}

.grid-project-imgs
{
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 12rem;

  margin-inline: auto;
  width: min(90%,90rem);
}

.grid-span-2
{
  grid-column: span 2;
}

.grid-img{
  max-width: 100%;
  display: block;
  border-radius: 20px;
}

.mobile-imgs
{
  display: none;
}

.section-browse
{
  display: none;
}

.video
{
  overflow: hidden;
  border-radius: 20px;
}


@media (max-width: 920px)
{
  .grid-img
  {
    border-radius: 10px;
  }
}

@media (max-width: 800px)
{

  .grid-project-imgs
  {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .desert-order
  {
    order: 2;
  }

  .grid-span-2
  {
  grid-column: span 1;
  }

  .section-browse
  {
    display: block;
  }

  .more-projects
  {
    margin-bottom: 0rem;
  }

  .video
  {
    overflow: hidden;
    border-radius: 10px;
  }
}


@media (max-width: 480px) 
{
  .section-project-cover
  {
    background-position: center bottom;
    background-size: 500px;
    background-repeat: no-repeat;
    height: 32rem;
  }

  .binmatter
  {
    background-image: url(../img/projects/covers-mobile/binmatter-project-cover-mobile.jpg);
  }

  .diario
  {
    background-image: url(../img/projects/covers-mobile/diario-project-cover-mobile.jpg);
  }

  .container-text
  {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .grid-project
  {
    padding-top: 6rem;
    margin-bottom: 5rem;
  }

  .grid-project-imgs
  {
    gap: 1rem;
    margin-bottom: 6rem;

    margin-inline: auto;
    width: min(100%,90rem);
  }

  .grid-img{
    border-radius: 0px;
  }

  .mobile-imgs
  {
    display: block;
  }

  .desktop-imgs
  {
    display: none;
  }

  .video
  {
    overflow: hidden;
    border-radius: 0px;
  }

  h2
  {
    font-size: 3rem;
  }
}
