.header{
  background-color:#FFCCE0;
  background-image: url(../img/bg-other-sections.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects
{
  margin-top: 12rem;
}

.titulo
{
  display: flex;
  justify-content: space-between;

  align-items: center;
  text-align: center;

  padding-top: 9rem;
  padding-bottom: 13rem;

  margin: auto;
  width: min(90%,27rem);
}

.title-flower
{
  display: block;
  width: 60px;
}

.main-title
{
  color: #543772;
  font-size: 3.6rem;
  font-family: 'Lora', serif;
  font-weight: 600;
}

@media (max-width: 750px) {
  .header
  {
    background-image: url(../img/bg-other-sections-mobile.svg);
    background-position: center 9rem;
    background-size: 18rem;
    background-repeat: no-repeat;
  }
}

@media (max-width: 640px) {
  .projects
  {
    margin-top: 5rem;
    margin-bottom: 0rem;
  }
}

@media (max-width: 480px)
{
  .main-title
  {
    font-size: 3.1rem;
  }

  .header
  {
    background-image: url(../img/bg-other-sections-mobile.svg);
    background-position: center 10rem;
    background-size: 13rem;
    background-repeat: no-repeat;
  }

  .title-flower
  {
    display: block;
    width: 50px;
  }
  
}






