/* TITLE */ 

.container-title-info
{
  display: flex;
  justify-content: space-between; /* aligns space horizontally */

  margin: auto;
  width: min(90%,90rem);
}

.left-info
{
  display: flex;
  align-items: center; /* aligns vertically */
}

.right-info
{
  display: flex;
  align-items: center; /* aligns vertically */ 
}



/* BUTTON VIEW ALL */

.button-all-projects
{
  display: flex;
  align-items: center;

  background-color: #FF99C1;
  padding: 1.1rem 1.3rem;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  color: white;
  -webkit-text-fill-color: white;
  text-align: left;

  margin-bottom: -.5rem;
}

.icon-arrow
{
  width: 1.3rem;
  padding-left: .9rem;
}



/* BROWSE */

.container-browse
{
  display: flex;
  justify-content: center;

  padding-top: 6.5rem;
  padding-bottom: 15rem;

  margin: auto;
  width: min(90%,120rem);
}



/* BUTTON BROWSE */

.button-browse
{
  display: flex;
  align-items: center;

  background-color: transparent;
  border: none;

  transition: all .2s ease-in-out;
}

.browse-text
{
  color: #FFC97D;
  -webkit-text-fill-color: #FFC97D;
  font-size: 4rem;
  font-family: 'Lora', serif;
  font-weight: 600;
}

.browse-text-cv
{
  color: white;
  -webkit-text-fill-color: white;
  font-size: 4rem;
  font-family: 'Lora', serif;
  font-weight: 600;
}



.icon-arrow-browse
{
  width: 3.5rem;
  margin-bottom: -.7rem;
  margin-left: 2rem;
}





/* HOVER BUTTONS ALL */

@media (hover: hover) and (pointer: fine)
{
  .button-all-projects
  {
    transition: all .2s ease-in-out;
  }

  .button-all-projects:hover
  {
    background-color: #FF80B1;
    transform: scale(1.1);
    box-shadow: 0px 10px 30px rgba(255, 153, 193, 0.4);
  }

  .button-browse:hover
  {
    background-color: transparent;
    transform: scale(1.1);
  }
}


@media (max-width: 800px)
{
  .buttons-disappear
  {
    display: none;
  }

  .container-browse
  {
    padding-top: 1.5rem;
    padding-bottom: 10rem;
  }

  .browse-text{
    font-size: 3rem;
  }

  .icon-arrow-browse
  {
    width: 3.1rem;
    margin-bottom: -.5rem;
  }
}

@media (max-width: 640px)
{
  .button-browse
  {
    flex-direction: column;
  }

  .container-browse
  {
    padding-bottom: 7rem;
  }

  .icon-arrow-browse,
  .icon-arrow-browse-cv
  {
    width: 3.5rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .icon-arrow-browse
  {
    padding-top: 1rem;
  }
}

@media (max-width: 480px)
{

  h1{
    font-size: 3rem;
  }

  .button-disappear-about-me
  {
    display: none;
  }

  .browse-text,
  .browse-text-cv
  {
    font-size: 3rem;
  }
}