/* TITLE */ 

.container-title-info
{
  display: flex;
  justify-content: space-between; /* aligns space horizontally */

  margin-inline: auto;
  width: min(90%,90rem);
}

.left-info
{
  display: flex;
  align-items: center; /* aligns vertically */
}

.right-info
{
  display: flex;
  align-items: center; /* aligns vertically */ 
}



/* BUTTON VIEW ALL */

.container-button
{
  display: flex;
  justify-content: end;

  margin-inline: auto;
  width: min(90%,70rem);

  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}

.button-all-projects
{
  display: flex;
  align-items: center;
  gap: .9rem;

  background-color: #FF99C1;
  padding: 1.1rem 1.3rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  color: white;
  text-align: left;

  margin-left: 1rem;
  margin-bottom: -.8rem;
}

.icon-arrow
{
  width: 1.3rem;
}

/* BROWSE */

.container-browse
{
  display: flex;
  justify-content: center;

  padding-top: 6.5rem;
  padding-bottom: 15rem;

  margin-inline: auto;
  width: min(90%,120rem);
}

.browse
{
  align-items: center;
  display: flex;
}

/* BUTTON BROWSE */

.browse-text{
  color: #FFC97D;
  font-size: 4rem;
  font-family: alice;
  font-weight: 700;
}

.button-browse
{
  display: flex;
  align-items: center;

  background-color: transparent;
  border: none;

  transition: all .2s ease-in-out;
}

.icon-arrow-browse
{
  width: 3.5rem;
  margin-bottom: -.7rem;
  margin-left: 2rem;
}


@media (hover: hover) and (pointer: fine)
{
  /* HOVER BUTTONS ALL */

  .button-all-projects
  {
    transition: all .2s ease-in-out;
  }

  .button-all-projects:hover
  {
    background-color: #FF80B1;
    transform: scale(1.1);
    box-shadow: 0px 10px 30px rgba(255, 153, 193, 0.4);
  }

  /* HOVER BROWSE HOVER */

  .button-browse:hover
  {
    background-color: transparent;
    transform: scale(1.1);
  }
}


@media (max-width: 800px)
{
  .buttons-disappear
  {
    display: none;
  }

  .container-browse
  {
    padding-top: 1.5rem;
    padding-bottom: 10rem;
  }

  .browse-text{
    font-size: 3rem;
  }

  .icon-arrow-browse
  {
    width: 3.1rem;
    margin-bottom: -.5rem;
  }
}

@media (max-width: 640px)
{
  .button-browse{
    flex-direction: column;
    gap: 2rem;
  }

  .container-browse
  {
    padding-top: 1rem;
    padding-bottom: 7rem;
  }
}

@media (max-width: 480px)
{
  h1{
    font-size: 3rem;
  }

  .browse-text{
    font-size: 3rem;
  }
  
  .icon-arrow-browse
  {
    width: 3.5rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}